
button {
	background-image: url("https://vignette.wikia.nocookie.net/fnaf-world-rpg/images/f/fe/DeathX.gif/revision/latest?cb=20160123032005");
	bottom: 300px;
	font-size: 250%;
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 250px;
}

.card {
	background-color: lightpink;
	box-shadow: 3px 5px 4px 5px #888888;
	margin: 5px 25px 5px;
	padding: 20px;
	position: relative;
	width: 100px;
	
}

.card:hover {
	background-color: lightgreen;
}

.chriscross {
	color: red;
	font-family: 'Bangers', cursive;
	font-size: 200%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
	width: 70%;
	
}

.current {
	float: left;
	
}

h1 {
	color: red;
	text-align: center;
  }

h2 {
	color: green;
	text-align: center;
  }

img {
	height: 100px;
	width: 100px;
  }
	
.logo {
	color: red;
	font-family: 'Bangers', cursive;
	font-size: 600%;
}	

.message {
	color: red;
	font-family: 'Bangers', cursive;
	font-size: 375%;
	left: 35%;
	position: absolute;
	text-align: center;
	top: 150px;
	transition: transform 1s; 

	}

.sidebar {
	border-bottom: 4px solid black;
	border-left: 4px solid black;
	border-top: 4px solid black;
	bottom: 600px;
	float: right;
	height: 500px;
	margin-right: 10px;
	padding-left: 10px;
	position: relative;
	width: 30%;
}

.sidecross {
	left: 40px;
	position: relative;
	
}
  
.top {
	float: right;
	}
	
.tryagain {
	font-size: 175%;
	font-weight: 700;
	left: 30%;
	position: absolute;
	top: 350px;
}

@media screen and (max-width: 1130px) {

.card {
	width: 80px;
}

.container {
	height: 500px;
	width: 80%;
}

.current {
	float: none;
}

img {
	height: 80px;
	width: 80px;
}


.sidebar {
	bottom: 500px;
	width: 15%;
}

.top {
	float: none;
}
}

@media screen and (max-width: 768px) {

	.card {
		width: 65px;
	}

	.chriscross {
		display: none;
	}

	.container {
		width: 100%;
	}

	.current {
		bottom: 45px;
		left: 25px;
		position: absolute;
	}

	img {
		height: 75px;
		width: 65px;
	}

	.rules {
		margin-left: 25%;
		text-align: center;
		width: 50%;
	}

	.sidebar {
		border-bottom: none;
		border-left: none;
		border-right: none;
		border-top: 1px solid black;
		bottom: 10px;
		height: 100px;
		width: 100%;
	}

	.top {
		bottom: 45px;
		position: absolute;
		right: 25px;
	}

}

@media screen and (max-width: 640px) {

	.card {
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
		width: 60px;
		
	}

	img {
		height: 90px;
		width: 60px;
	}

}
  


  







