
button {
	background-image: url("https://vignette.wikia.nocookie.net/fnaf-world-rpg/images/f/fe/DeathX.gif/revision/latest?cb=20160123032005");
	bottom: 300px;
	font-size: 250%;
	height: 300px;
	margin: 0 auto;
	position: relative;
	width: 250px;
}

.card {
	background-color: lightpink;
	box-shadow: 3px 5px 4px 5px #888888;
	margin: 5px 25px 5px;
	padding: 20px;
	position: relative;
	width: 100px;
	
}

.chriscross {
	color: red;
	font-family: 'Bangers', cursive;
	font-size: 200%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
	width: 70%;
	
}

.current {
	float: left;
	
}

h1 {
	color: red;
	text-align: center;
  }

h2 {
	color: green;
	text-align: center;
  }

img {
	height: 100px;
	width: 100px;
  }
	
.logo {
	color: red;
	font-family: 'Bangers', cursive;
	font-size: 600%;
}	

.message {
	color: red;
	font-family: 'Bangers', cursive;
	position: relative;
	text-align: center;
	top: 100px;
	transition: transform 1s; 

	}

.sidebar {
	background-color: yellow;
	bottom: 600px;
	float: right;
	height: 500px;
	margin-right: 10px;
	position: relative;
	width: 25%;
}

.sidecross {
	left: 40px;
	position: relative;
	
}
  
.top {
	float: right;
  }
  


  







